body {
    font: 1em/1.3em "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; /* 16px / 21px */
    text-shadow: rgba(255,255,255,0.8) 0 1px 0;
    text-align: center;
}

#pocket{
background-image: url(pocket.png);
    height: 50%;
    width: 19%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 40.5%;
    animation-duration: 0.5s;
    animation-name: shakeIt;
    animation-iteration-count: 8;
}

@keyframes shakeIt {
  from {
    rotate:"45deg";
  }

  to {
    rotate:"-45deg"
  }
